@{
    ViewData["Title"] = "Página inicial";
}

<div class="jumbotron">
    @*<h1>Contoso University</h1>*@
</div>
<div class="row">
    @*<div class="col-md-4">
        <h2>Bienvenido a la Universidad de Murcia</h2>
        <p>
            Gestión de la BD de usuarios, clases y profesores
        </p>
    </div>
    <div class="col-md-4">
        <h2>Diseñar la aplicación desde cero</h2>
        <p>Tu puedes hacer esta aplicación, pasa a paso, siguiendo el tutorial.</p>
        <p><a class="btn btn-default" href="https://docs.asp.net/en/latest/data/ef-mvc/intro.html">ver el tutorial &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Descárgalo</h2>
        <p>Tu puedes descargarte el proyecto completo de Github.</p>
        <p><a class="btn btn-default" href="https://github.com/aspnet/AspNetCore.Docs/tree/master/aspnetcore/data/ef-mvc/intro/samples/cu-final">See project source code &raquo;</a></p>
    </div>*@
</div>