
a {
    text-decoration: none;
    color: #000;
}

.fa-icono {
    width: 15px;
    height: 15px;
}

.btn-menu .fa-icono {
    float: left;
}

.btnSeleccionar {
    display: inline-block;
    margin-left: 2px;
    font-weight: 400;
    color: #212529;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid #cad2da;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

    .btnSeleccionar:hover {
        cursor: pointer;
        color: #212529;
        text-decoration: none;
    }

.celdaCabeceraIzquierda {
    background: #00b9ff;
    text-align: left;
    width: 30%;
    min-width: 300px;
}

.celdaSeparador {
    background: #00b9ff;
}

.celdaCabecera {
    background: #00b9ff;
    width: 10%;
}

.estiloCeldaCabecera {
    text-align: center;
    border: hidden;
    background: #00b9ff;
    width: 100%;
}

.celdaCabeceraDerecha {
    background: #00b9ff;
    text-align: right;
    width: 30%
}

.estiloCeldaDerecha {
    text-align: right;
    border: hidden;
    background: #00b9ff;
}

.etiquetaIzquierda {
    text-align: left;
    border: hidden;
    background: #00b9ff;
}

/*Clases de creación*/

.controlNoVisible {
    display: none;
}

.tr-propiedad {
}

.td-creacion {
    border: 0px;
}

.div-propiedad {
    display: block;
}

.div-separardor-propiedad {
}

.div-izquierda {
    float: left;
    width: 125px;
    text-align: right;
    margin: 2px 10px;
    display: inline
}

.div-derecha {
    float: left;
    text-align: left;
    margin: 2px 10px;
    display: inline
}


.ZonaDeDatos {
    height: 400px;
}

.modal-seleccion {
    height: 650px;
}

.boton-de-seleccion {
    text-decoration: none;
    width: 18px;
    height: 38px;
    color: #ffffff;
    background-color: #adb5bd;
    border: 1px solid #6c757d;
    text-align: center;
}

.div-lbl-propiedad {
    width: 100%;
    padding-left: 10px;
}

.contenedor-editor-filtro {
    /*margin-right: 20px;*/
    margin-top: 2px;
}

.contenedor-selector-filtro {
    /*position: relative;
    display: -ms-flexbox;*/
    display: flex;
    /*    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: stretch;
    align-items: stretch;*/
    /*margin-right: 20px;*/
}

.contenedor-editor {
    border-width: 2px;
    /*margin-right: 20px;*/
}

.contenedor-area-de-texto {
    border-width: 2px;
    /*margin-right: 20px;*/
}

.editor-dto {
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    text-align: left;
    /* margin: 5px; */
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.area-de-texto-dto {
    width: 100%;
    /*height: calc(1.5em + .75rem + 2px);*/
    text-align: left;
    /* margin: 5px; */
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

/*.contenedor-editor > input {
        width: 100%;
        height: calc(1.5em + .75rem + 2px);
        text-align: left;*/
/*margin: 5px;*/
/*padding: .375rem .75rem;
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.5;
        color: #495057;
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid #ced4da;
        border-radius: .25rem;
        transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    }*/

.contenedor-editor > input.propiedad-no-valida {
    background: #f58eb1;
}

.contenedor-editor > input.propiedad-valida {
    /*background: #dcd6d6;*/
}

.contenedor-editor > input.solo-lectura {
    background: #ffd800;
}

.contenedor-editor > input[readonly] {
    background-color: #e9ecef;
    opacity: 1
}

.contenedor-check {
    /*    margin-top: 20px;
    margin-left: 20px;*/
}

.contenedor-fecha {
    /*    margin-top: 20px;
    margin-left: 20px;*/
}

.contenedor-fecha-hora {
    /*    margin-top: 20px;
    margin-left: 20px;*/
}

    .contenedor-fecha-hora > .fecha-dto[readonly], .hora-dto[readonly] {
        background-color: #e9ecef;
        opacity: 1
    }


.fecha-dto {
    /*    margin-top: 20px;
    margin-left: 20px;*/
    /*width: 60%;*/
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.hora-dto {
    /*    margin-top: 20px;
    margin-left: 20px;*/
    /*width: 40%;*/
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.check-dto {
    margin-left: 10px;
    margin-top: 20px;
}

.check-flt {
    margin-left: 10px;
    margin-top: 20px;
}

.contenedor-listas {
    /*    position: relative;
    border-color: aqua;
    border-width: 2px;
    width: 100%;*/
    margin-top: 5px;
    /*margin-right: 20px;*/
}


    .contenedor-listas > select, input.lista-de-elemento {
        width: 100%;
        height: calc(1.5em + .75rem + 2px);
        padding: .375rem .75rem;
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.5;
        color: #495057;
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid #ced4da;
        border-radius: .25rem;
        transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    }

    .contenedor-listas > select, input.lista-dinamica {
        width: 100%;
        height: calc(1.5em + .75rem + 2px);
        padding: .375rem .75rem;
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.5;
        color: #495057;
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid #ced4da;
        border-radius: .25rem;
        transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    }

        .contenedor-listas > select.lista-de-elemento.propiedad-no-valida, input.lista-dinamica.propiedad-no-valida {
            background: #f58eb1;
        }

        .contenedor-listas > select.lista-de-elemento.propiedad-valida, input.lista-dinamica.propiedad-valida {
            /* background: #dcd6d6;*/
        }

        .contenedor-listas > select.lista-de-elemento.solo-lectura, input.lista-dinamica.solo-lectura {
            background: #ffd800;
        }

    .contenedor-listas > input.lista-dinamica[readonly] {
        background-color: #e9ecef;
        opacity: 1
    }

    .contenedor-listas > select.lista-de-elemento[readonly] {
        background-color: #e9ecef;
        opacity: 1
    }


select.form-control:focus::-ms-value {
    color: #495057;
    background-color: #fff
}

.contenedor-opcion-menu {
}

.opcion-menu-de-elemento {
}

.opcion-menu-de-vista {
}

.opcion-menu-basica {
}
