
.cuerpo-creacion {
    overflow-x: hidden;
    overflow-y: scroll;
    position: fixed;
    width: 100%;
    padding: 10px;
    grid-area: cuerpo-creacion;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 100px 1fr 50px;
    grid-template-areas: "contenedor-edicion-cabecera" "contenedor-edicion-cuerpo" "contenedor-edicion-pie";
}

.contenedor-opciones-creacion {
    float: right;
    padding-right: 10px;
    text-align: right;
    width: 50%;
    min-width:210px;
}

.tabla-creacion {
    width: 100%;
}


.tabla-creacion > tbody {
    width: 100%;
}

