
.div-visible {
    display: block;
}

.div-no-visible {
    display: none;
}

.div-mnt-menu-contenedor {
    width: 100%;
    display: flex;
    margin-bottom: 10px;
}
.div-mnt-menu-zona {
    width: 90%;
}
.div-mnt-filtro-expansor {
    width: 10%;
    text-align: right;
    align-content: end;
    margin-right:10px;
}

.div-mnt-filtro-zona {
    width: 100%;
}
.div-mnt-bloque-contenedor {
    width: 100%;
    text-align: left;
    align-content: start;
}

.div-mnt-bloque-vacio {
    height: 0px;
}

.tabla-filtro {
    border-collapse: collapse;
    width: 100%;
    border-spacing: 0px;
    border-top-width: 1px;
    margin-left: 10px
}

