
.cuerpo-creacion {
    overflow-x: hidden;
    overflow-y: scroll;
    position: fixed;
    width: 100%;
    padding: 10px;
}

.contenedor-opciones-creacion {
    float: right;
    /*padding-top: 15px;*/
    padding-right: 10px;
    width: 200px;
    text-align: right;
}

.tabla-creacion {
    width: inherit;
}


