.exportacion-contenedor {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: "exportacion-lista" "exportacion-sometido" "exportacion-enviar";
    overflow-y: hidden;
    overflow-x: hidden;
}

.exportacion-lista {
    display: grid;
    grid-area: exportacion-lista;
}

.exportacion-sometido {
    display: grid;
    grid-area: exportacion-sometido;
    margin-bottom: 10px;
    margin-left: 100px;
}

.exportacion-enviar {
    display: grid;
    grid-area: exportacion-enviar;
}