
/*cuerpo-datos > thead, tbody th td{
    display: block;
}

cuerpo-datos > tr:after {
    content: ' ';
    display: block;
    visibility: hidden;
    clear: both;
}

cuerpo-datos > thead th {
    height: 30px;*/
/*text-align: left;*/
/*}

.cuerpo-datos-body {
    height: 120px;
    overflow-y: auto;
    display: block;
}*/


.cuerpo-datos-tabla {
    border-bottom: inset;
    display: block;
    width:1fr;
}

.cuerpo-datos-tbody {
    height: 500px;
    overflow-y: scroll;
    overflow-x: hidden;
    display: block;
}

.cuerpo-datos-tbody-tr {
    width: 101%;
    display: inline-flex;
}

.cuerpo-datos-thead {
    width: 100%;
    display: inline-table;
}

cuerpo-datos > tr:after {
    content: ' ';
    display: block;
    visibility: hidden;
    clear: both;
}

.columna-cabecera {
}

    .columna-cabecera > a {
        font-weight: bold;
        display: block;
    }

.columna-oculta {
    width: 0px;
    display: none;
    visibility: hidden;
    padding: unset;
}

.ordenada-sin-orden {
    color: #a5a1a1
}

.ordenada-ascendente {
    color: #00b9ff
}

.ordenada-descendente {
    color: #f58eb1
}

.pie-grid {
    align-content: center;
    margin-top: 10px;
}

.info-grid {
    float: right;
}

.cantidad-grid {
    width: 50px;
    margin-top: 5px;
    align-content: center;
    border-radius: 10px
}

.navegador-grid {
    float: left;
}

    .navegador-grid > div {
        display: inline-block;
    }

        .navegador-grid > div > img {
            width: 22px;
            height: 22px;
        }
