
.cuerpo-datos-filtro {
    grid-area: cuerpo-datos-filtro;
    grid-template-columns: 1fr;
    width: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
}

.cuerpo-datos-filtro-bloque {
    grid-area: cuerpo-datos-filtro-bloque;
    padding-bottom: 10px;
    border: ridge;
}

.cuerpo-datos-grid {
    grid-area: cuerpo-datos-grid;
    width: 100%;
    border: ridge;
}

.cuerpo-datos-tabla {
    /*    border-bottom: ridge;
    border-top: ridge;
    display: block;*/
    width: 100%;
}

.cuerpo-datos-tbody {
    /*height: 500px;*/
    overflow-y: scroll;
    overflow-x: hidden;
    display: block;
}

.cuerpo-datos-tbody-tr {
    width: 101%;
    display: inline-flex;
}

.cuerpo-datos-thead {
    width: 100%;
    display: inline-table;
}

cuerpo-datos > tr:after {
    content: ' ';
    display: block;
    visibility: hidden;
    clear: both;
}

.columna-cabecera {
}

    .columna-cabecera > a {
        font-weight: bold;
        display: block;
    }

.columna-oculta {
    width: 0px;
    display: none;
    visibility: hidden;
    padding: unset;
}

.columna-alineacion-derecha {
    padding-right: 10px;
}

.ordenada-sin-orden {
    color: #a5a1a1
}

.ordenada-ascendente {
    color: #00b9ff
}

.ordenada-descendente {
    color: #f58eb1
}

.pie-grid {
    /*    align-content: center;
    margin-top: 10px;*/
    /*grid-area: cuerpo-pie;*/
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 100%;
    grid-template-areas: "pie-grid-navegador pie-grid-opciones pie-grid-mensaje pie-grid-info";
    /* align-self: center; */
    margin: 0px;
}

.pie-grid-info {
    grid-area: pie-grid-info;
    text-align: end;
    margin-right: 20px;
    align-self: center;
}

.pie-grid-mensaje {
    grid-area: pie-grid-mensaje;
    text-align: end;
    margin-right: 20px;
    align-self: center;
}

.pie-grid-opciones {
    grid-area: pie-grid-opciones;
    text-align: center;
    margin-right: 10px;
    margin-left: 10px;
    align-self: center;
}

.pie-grid-navegador {
    grid-area: pie-grid-navegador;
    align-self: center;
    margin-left: 20px;
    /*float: left;*/
}

    .pie-grid-navegador > div {
        display: inline-block;
    }

        .pie-grid-navegador > div > img {
            width: 22px;
            height: 22px;
        }

.navegador-cantidad-grid {
    width: 50px;
    margin-top: 5px;
    align-content: center;
    border-radius: 10px
}

ul, ol {
    list-style: none;
}


.menu-del-grid {
}

    .menu-del-grid:hover ul li:hover ul {
        position: absolute;
        margin-top: 100px;
        bottom: 100%;
    }

    .menu-del-grid a {
        display: block;
        text-decoration: none;
        background: #ffffff;
    }


.menu-del-grid-li {
    width: 140px;
    border: none;
    padding-bottom: 6px;
    position: relative;
    float: left;
}


.menu-del-grid-li-li {
    width: 200px;
    color: #B0BD97;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 3px;
    padding-right: 3px;
    background: #B0BD97;
    position: relative;
    float: left;
}

.menu-del-grid ul li ul, .menu-del-grid:hover ul li ul, .menu-del-grid:hover ul li:hover ul li ul {
    display: none;
}

.menu-del-grid:hover ul, .menu-del-grid:hover ul li:hover ul, .menu-del-grid:hover ul li:hover ul li:hover ul {
    display:block;
}

    .menu-del-grid:hover ul li:hover ul li:hover ul {
        position: absolute;
        margin-left: 100px;
        margin-top: 4px;
    }

    .menu-del-grid:hover ul li:hover ul {
        position: absolute
    }
