html, body, .pagina {
    height: -webkit-fill-available;
    width: -webkit-fill-available;
}

.body-pagina {
    overflow-y: hidden;
}

.pagina {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 50px 1fr 50px;
    gap: 0px 0px;
    grid-template-areas: "cabecera" "cuerpo" "pie";
    overflow-y: hidden;
    overflow-x: hidden;
}


.cabecera {
    display: grid;
    grid-area: cabecera;
    background: #00b9ff;
    grid-template-columns: 40% 10% 20% 20% 10%;
    grid-template-rows: 100%;
    grid-template-areas: "cabecera-menu cabecera-separador cabecera-consultas cabecera-favoritos cabecera-opciones";
    /*    align-items: center;
    height: 50px;
    align-self:self-start*/
}

.cabecera-menu {
    grid-area: cabecera-menu;
    text-align: left;
    min-width: 100px;
    align-items: center;
    display: flex;
}

    .cabecera-menu > input {
        width: -webkit-fill-available;
        background: #00b9ff;
        text-align: left;
        border: hidden;
        padding-left: 10px;
    }

    .cabecera-menu > img {
        margin-left: 10px;
    }


.cabecera-separador {
    grid-area: cabecera-separador;
}

.cabecera-consultas {
    grid-area: cabecera-consultas;
    text-align: right;
    min-width: 100px;
}

    .cabecera-consultas > input {
        text-align: right;
        border: hidden;
        background: #00b9ff;
        margin-top: 10Px;
        ;
    }

.cabecera-favoritos {
    grid-area: cabecera-favoritos;
    text-align: right;
    min-width: 100px;
}

    .cabecera-favoritos > input {
        text-align: right;
        border: hidden;
        background: #00b9ff;
        margin-top: 10Px;
        ;
    }

.cabecera-opciones {
    grid-area: cabecera-opciones;
    text-align: right;
    align-content: flex-end;
    min-width: 100px;
}

    .cabecera-opciones > form > button {
        text-align: right;
        border: hidden;
        background: #00b9ff;
        margin-top: 10Px;
        ;
    }

.cuerpo {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.2fr 2.6fr 0.2fr;
    gap: 0px 0px;
    grid-template-areas: "cuerpo-cabecera" "cuerpo-datos" "cuerpo-pie";
    grid-area: cuerpo;
    /*    background-color: beige;
    border: double;*/
    /*    align-self: center;*/
}

.cuerpo-cabecera {
    grid-area: cuerpo-cabecera;
    /*margin-left: 10px;*/
    border: ridge;
}

    .cuerpo-cabecera > h2 {
        margin-left: 10px;
    }

.cuerpo-datos {
    display: grid;
    /*    grid-template-columns: 1fr;
    grid-template-rows: 25% 75%;
    gap: 0px 0px;*/
    grid-template-areas: "cuerpo-datos-filtro" "cuerpo-datos-grid" "cuerpo-datos-formulario";
    grid-area: cuerpo-datos;
    /*overflow-y: scroll;*/
    overflow-x: hidden;
}

.cuerpo-pie {
    grid-area: cuerpo-pie;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 100%;
    grid-template-areas: "cuerpo-pie-navegador cuerpo-pie-opciones cuerpo-pie-mensaje cuerpo-pie-info cuerpo-pie-formulario";
    /*align-self: center;*/
    margin: 0px;
    border: ridge;
}

/*.cuerpo-pie-navegador {
    grid-area: cuerpo-pie-navegador;
    align-self: center;
    margin-left: 20px;
}*/
.cuerpo-pie-navegador {
    display: flex;
    margin-left: 20px;
    margin-top: 5px;
}

    .cuerpo-pie-navegador > div {
        display: block;
        align-self: center;
    }

        .cuerpo-pie-navegador > div > img {
            width: 22px;
            height: 22px;
        }

.cuerpo-pie-opciones {
    grid-area: cuerpo-pie-opciones;
    text-align: center;
    margin-right: 10px;
    margin-left: 10px;
    align-self: center;
}

.cuerpo-pie-mensaje {
    grid-area: cuerpo-pie-mensaje;
    text-align: end;
    margin-right: 20px;
    align-self: center;
}

.cuerpo-pie-info {
    grid-area: cuerpo-pie-info;
    text-align: end;
    margin-right: 20px;
    align-self: center;
}

.pie {
    display: grid;
    grid-area: pie;
    background: #00b9ff;
    grid-template-columns: 1fr;
    grid-template-rows: 50% 50%;
    grid-template-areas: "pie-mensaje" "pie-conexion";
}

.pie-mensaje {
    grid-area: pie-mensaje;
    display: grid;
    background: #00b9ff;
    grid-template-columns: 32px auto 32px;
    grid-template-rows: 100%;
    grid-template-areas: "pie-mensaje-contenedor-hitorial pie-mensaje-contenedor pie-mensaje-contenedor-borrado";
    /*display: -webkit-inline-box;*/
}

.pie-mensaje-contenedor-hitorial {
    /*width: 32px;*/
    border: ridge;
    text-align-last: center;
    background-color: white;
}

    .pie-mensaje-contenedor-hitorial > img {
        background-color: white;
        padding-bottom: 2px;
        vertical-align: baseline;
    }

.pie-mensaje-contenedor {
    /*width: 100%;*/
    /*text-align-last: center;*/
    background-color: white;
    border: ridge;
}

    .pie-mensaje-contenedor > input {
        width: -webkit-fill-available;
        height: 100%;
        padding-right: 5px;
        text-align: left;
        border: hidden;
        margin: 2px;
        width: 100%;
    }


.pie-mensaje-contenedor-borrado {
    /*width: 32px;*/
    border: ridge;
    text-align-last: center;
    background-color: white;
}

    .pie-mensaje-contenedor-Borrado > img {
        background-color: white;
        padding-bottom: 2px;
        vertical-align: baseline;
    }

.pie-conexion {
    display: grid;
    border-top:ridge;
    grid-area: pie-conexion;
    grid-template-columns: 50% 50%;
    grid-template-rows: 100%;
    grid-template-areas: "pie-conexion-datos pie-conexion-usuario";
}

.pie-conexion-datos {
    grid-area: pie-conexion-datos;
}

    .pie-conexion-datos > input {
        width: -webkit-fill-available;
        background: #00b9ff;
        text-align: left;
        border: hidden;
        padding-left: 10px;
    }

.pie-conexion-usuario {
    grid-area: pie-conexion-usuario;
}

    .pie-conexion-usuario > input {
        width: -webkit-fill-available;
        text-align: right;
        background: #00b9ff;
        border: hidden;
        padding-right: 10px;
    }

.modal-historial {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    margin-top: 0px; /* Location of the box */
    margin-left: 3px;
    top: 52px;
    width: 300px;
    height: 90%;
    overflow: auto; /* Enable scroll if needed */
    border: double;
    background-color: #ffff;
}

.historial-contenedor {
    width: 95%;
    display: inline-block;
    line-height: 18px;
}
