#tablaCabecera {
    width: 100%;
}
.celdaCabeceraIzquierda {
    background: #00b9ff;
    text-align: left;
    width: 15%
}
.celdaSeparador {
    background: #00b9ff;
}
.celdaCabecera {
    background: #00b9ff;
    width:100px;
}
.estiloCeldaCabecera {
    text-align: center;
    border: hidden;
    background: #00b9ff;
    width: 100%;
}
.celdaCabeceraDerecha {
    background: #00b9ff;
    text-align:right;
    width:15%
}
.estiloCeldaDerecha {
    text-align: right;
    border: hidden;
    background: #00b9ff;
}

.etiquetaIzquierda {
    text-align: left;
    border: hidden;
    background: #00b9ff;
}




