
body {
    background: #ffffff;
    line-height: 18px;
}

.div-visible {
    display: block;
}

.div-no-visible {
    display: none;
}

a {
    text-decoration: none;
    color: #000;
}

.fa-icono {
    width: 15px;
    height: 15px;
}

.btn-menu .fa-icono {
    float: left;
}

.btnSeleccionar {
    display: inline-block;
    margin-left: 2px;
    font-weight: 400;
    color: #212529;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid #cad2da;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

    .btnSeleccionar:hover {
        cursor: pointer;
        color: #212529;
        text-decoration: none;
    }

#tablaCabecera {
    width: 100%;
}

.celdaCabeceraIzquierda {
    background: #00b9ff;
    text-align: left;
    width: 30%;
    min-width: 300px;
}

.celdaSeparador {
    background: #00b9ff;
}

.celdaCabecera {
    background: #00b9ff;
    width: 10%;
}

.estiloCeldaCabecera {
    text-align: center;
    border: hidden;
    background: #00b9ff;
    width: 100%;
}

.celdaCabeceraDerecha {
    background: #00b9ff;
    text-align: right;
    width: 30%
}

.estiloCeldaDerecha {
    text-align: right;
    border: hidden;
    background: #00b9ff;
}

.etiquetaIzquierda {
    text-align: left;
    border: hidden;
    background: #00b9ff;
}

/*Clases de creación*/

.controlNoVisible {
    display: none;
}


.tabla-creacion {
    width: 100%;
}

.tr-propiedad {
}

.td-creacion {
    border: 0px;
}

.div-propiedad {
    display: flex;
}

.div-lbl-propiedad {
}

.div-separardor-propiedad {
}

.div-crtl-propiedad {
}

.div-pie-propiedad {
    display: block;
    float: right;
    margin-right: 10px;
    width: 100px;
}

.propiedad {
    display: block;
    text-align: left;
    border: hidden;
    width: 100%
}

    .propiedad:read-only {
        background: #a5a1a1
    }

.propiedad-id {
    border: groove;
    text-align: right;
    border-radius: 10px
}

.propiedad-valida {
    background: #e9d4d4;
}

.propiedad-no-valida {
    background: #f58eb1;
}

.pie-grid {
    align-content: center;
    margin-top: 10px;
}

.info-grid {
    float: right;
}

.cantidad-grid {
    width: 50px;
    margin-top: 5px;
    align-content: center;
    border-radius: 10px
}

.navegador-grid {
    float: left;
}

    .navegador-grid > div {
        display: inline-block;
    }

        .navegador-grid > div > img {
            width: 22px;
            height: 22px;
        }

.bloque-filtro-vacio {
    height: 0px;
}

.ZonaDeDatos {
    height: 400px;
}

.tabla-filtro {
    border-collapse: collapse;
    width: 100%;
    border-spacing: 0px;
    border-top-width: 1px;
}

.div-grid {
    height: 400px;
    width: 100%;
    overflow: auto;
}

    .div-grid > .tabla-grid {
        width: 100%;
    }

        .div-grid > .tabla-grid > thead {
            border-collapse: collapse;
            height: 25px;
            width: 100%;
            border-spacing: 2px;
            border-color: grey;
            background-color: #dcd6d6;
        }

        .div-grid > .tabla-grid > th {
            padding: 8px;
            text-align: left;
            border-bottom: 2px solid #ddd;
            border-top: 2px solid #ddd;
        }

        .div-grid > .tabla-grid tr:hover td {
            background-color: gainsboro;
        }

        .div-grid > .tabla-grid > td {
            padding: 8px;
            text-align: left;
            border-bottom: 1px solid #ddd;
            border-top: 1px solid #ddd;
        }

.columna-cabecera > a {
    font-weight: bold;
}

.ordenada-sin-orden {
    color: #a5a1a1
}

.ordenada-ascendente {
    color: #00b9ff
}

.ordenada-descendente {
    color: #f58eb1
}

.contenedor-modal {
    display: none;
    position: fixed;
    z-index: 0;
    padding-top: 100px;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    overflow: hidden;
    border: 10px solid #888;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

    .contenedor-modal > div {
        background-color: #fff;
        margin: auto;
        padding: 20px;
        border: 10px solid #888;
        width: 60%;
    }

.modal-seleccion {
    height: 650px;
}

.cotenido-cabecera {
    width: 100%;
}

.cotenido-cuerpo {
    width: 100%;
}

    .cotenido-cuerpo > input {
        width: 100%;
        margin: 5px;
        border: 0px;
    }

.cotenido-pie {
    width: 100%;
    margin-top: 55px;
}

.boton-de-seleccion {
    text-decoration: none;
    width: 38px;
    height: 38px;
    color: #ffffff;
    background-color: #adb5bd;
    border: 1px solid #6c757d;
    text-align: center;
}


.contenedor-modal .boton-modal {
    text-decoration: none;
    width: 75px;
    height: 20px;
    color: #ffffff;
    background-color: #adb5bd;
    border-radius: 6px;
    border: 1px solid #6c757d;
    text-align: center;
}

    .contenedor-modal .boton-modal:hover {
        color: #000;
        background-color: #ffffff;
    }

.contenedor-selector {
    position: relative;
    border-color: aqua;
    border-width: 2px;
    width: 100%;
}

    .contenedor-selector > select {
        width: 100%;
        height: calc(1.5em + .75rem + 2px);
        padding: .375rem .75rem;
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.5;
        color: #495057;
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid #ced4da;
        border-radius: .25rem;
        transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    }

    .contenedor-selector > option {
        width: 100%;
        height: calc(1.5em + .75rem + 2px);
        padding: .375rem .75rem;
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.5;
        color: #495057;
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid #ced4da;
        border-radius: .25rem;
        transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    }

