
/*Clase de un crud*/

/*{
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}*/

body {
    background: #ffffff;
    line-height: 18px;
}

.div-visible{
    display: block;
}

.div-no-visible {
    display: none;
}

a {
    text-decoration:none;
    color: #000;
}

.fa-icono {
    width:15px;
    height:15px;

}

.btn-menu .fa-icono {
    float: left;
}

#tablaCabecera {
    width: 100%;
}
.celdaCabeceraIzquierda {
    background: #00b9ff;
    text-align: left;
    width: 30%;
    min-width: 300px;
}
.celdaSeparador {
    background: #00b9ff;
}
.celdaCabecera {
    background: #00b9ff;
    width:10%;
}
.estiloCeldaCabecera {
    text-align: center;
    border: hidden;
    background: #00b9ff;
    width: 100%;
}
.celdaCabeceraDerecha {
    background: #00b9ff;
    text-align:right;
    width:30%
}
.estiloCeldaDerecha {
    text-align: right;
    border: hidden;
    background: #00b9ff;
}

.etiquetaIzquierda {
    text-align: left;
    border: hidden;
    background: #00b9ff;
}

/*Clases de creación*/

.controlNoVisible {
    display:none;
}


.tabla-creacion {
    width: 100%;
}

.tr-propiedad {

}

.td-creacion {
    border: 0px;
}

.div-propiedad {
    display: flex;
}
.div-lbl-propiedad {
}

.div-separardor-propiedad {
}

.div-crtl-propiedad {
}

.div-pie-propiedad {
    display: block;
    float: right;
    margin-right:10px;
    width: 100px;
}

.propiedad {
    display: block;
    text-align: left;
    border: hidden;
    width: 100%
}
    .propiedad:read-only {
        background: #a5a1a1
    }

.propiedad-id {
    border: groove;
    text-align: right;
    border-radius: 10px
}

.propiedad-valida {
    background: #e9d4d4;
}

.propiedad-no-valida {
    background: #f58eb1;
}

.pie-grid {
    align-content:center;
}
.info-grid {
    float: right;
}
.cantidad-grid {
    width: 50px;
    margin-top: 5px;
    align-content: center;
    border-radius: 10px
}

.navegador-grid {
    float:left;
}
    .navegador-grid > div {
        display: inline-block;
    }
        .navegador-grid > div > img {
                width: 22px;
                height: 22px;
            }

.bloque-filtro-vacio {
    height: 0px;
}
.tabla-filtro {
    border-collapse: collapse;
    width: 100%;
    border-spacing: 0px;
    border-top-width: 1px;
}

.tabla-grid {
    border-collapse: collapse;
    width: 100%;
    border-spacing: 2px;
    border-color: grey;
}

    .tabla-grid th {
        padding: 8px;
        text-align: left;
        border-bottom: 2px solid #ddd;
        border-top: 2px solid #ddd;
    }

    .tabla-grid tr:hover td {
        background-color: gainsboro;
    }

    .tabla-grid td {
        padding: 8px;
        text-align: left;
        border-bottom: 1px solid #ddd;
        border-top: 1px solid #ddd;
    }

.columna-cabecera > a {
    font-weight: bold;
}

.ordenada-sin-orden {
    color: #a5a1a1
}
.ordenada-ascendente {
    color:#00b9ff
}
.ordenada-descendente {
    color: #f58eb1
}

        









