.modal-menu {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    margin-top: 0px; /* Location of the box */
    margin-left: 3px;
    top:52px;
    width: 300px;
    height: 90%;
    overflow: auto; /* Enable scroll if needed */
    border: double;
    background-color: #ffff;
}

.menu-contenedor {
    width: 95%;
    display: inline-block;
    line-height: 18px;
}

.menu-contenido {
    background-color: #ffffff;
    padding: 1px;
    width: 100%;
    height: -webkit-fill-available;
}

.modal-menu .menu-contenido {
    list-style: none;
}

    .modal-menu .menu-contenido ul {
        display: none;
    }

        .modal-menu .menu-contenido ul li {
            list-style: none;
        }

            .modal-menu .menu-contenido ul li a {
                background: #ffffff;
            }

.menu-contenido .icono {
    width: 20px;
    height: 20px;
    line-height: 18px;
}

    .menu-contenido .icono.izquierdo {
        float: left;
        margin-right: 10px;
        margin-top: 5px;
    }

    .menu-contenido .icono.derecho {
        float: right;
        margin-left: 20px;
        margin-top: 5px;
    }

.menu-contenido li a {
    color: #494949;
    display: inline-block;
    padding: 15px 20px;
}

    .menu-contenido li a:hover {
        background: #1a95d5;
        color: #fff;
    }


.menu-opcion {
    border: 0px;
    background: #ffffff;
    width: 100%;
    height: 32px;
    text-align: left;
    padding-left: 15px;
}

.sin-capa-de-bloqueo {
    background: #ffffff;
    display: none;
    width: 0px;
    height: 0px;
}

.con-capa-de-bloqueo {
    display: block;
    border: double;
    border-color: antiquewhite;
    border-width: 10px;
    background: #ffffff;
    position: absolute;
    background-image: url('/images/trabajando.gif');
    background-position: 50% 50%;
    background-repeat: no-repeat;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0.2;
}
