USE [SistemaDeElementos]
GO
/****** Object:  Schema [ENTORNO]    Script Date: 23/05/2020 19:33:05 ******/
CREATE SCHEMA [ENTORNO]
GO
/****** Object:  Schema [PERMISO]    Script Date: 23/05/2020 19:33:05 ******/
CREATE SCHEMA [PERMISO]
GO
/****** Object:  Schema [SEGURIDAD]    Script Date: 23/05/2020 19:33:05 ******/
CREATE SCHEMA [SEGURIDAD]
GO
/****** Object:  Schema [SISDOC]    Script Date: 23/05/2020 19:33:05 ******/
CREATE SCHEMA [SISDOC]
GO
/****** Object:  Table [ENTORNO].[MENU]    Script Date: 23/05/2020 19:33:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ENTORNO].[MENU](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[NOMBRE] [varchar](250) NOT NULL,
	[DESCRIPCION] [varchar](max) NULL,
	[ICONO] [varchar](250) NOT NULL,
	[ACTIVO] [bit] NOT NULL,
	[IDPADRE] [int] NULL,
	[IDVISTA_MVC] [int] NULL,
	[ORDEN] [int] NOT NULL,
 CONSTRAINT [PK_MENU] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  UserDefinedFunction [ENTORNO].[ARBOL_MENU]    Script Date: 23/05/2020 19:33:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

                                   CREATE FUNCTION [ENTORNO].[ARBOL_MENU] 
                                   (
                                     @ID INT	
                                   )
                                   RETURNS TABLE 
                                   AS
                                   RETURN 
                                   (
                                        WITH menuPadre 
                                        AS
                                        (
                                         SELECT T1.ID, T1.NOMBRE, T1.DESCRIPCION, T1.ICONO, T1.ACTIVO, T1.IDPADRE,  T1.IDVISTA_MVC, T1.ORDEN 
                                         FROM entorno.MENU T1
                                         UNION ALL
                                          --RECURSIVIDAD
                                         SELECT S1.ID, S1.NOMBRE, S1.DESCRIPCION, S1.ICONO, S1.ACTIVO, S1.IDPADRE,  S1.IDVISTA_MVC, S1.ORDEN 
                                         FROM ENTORNO.MENU AS S1 
                                         INNER JOIN menuPadre AS T1 ON S1.IDPADRE = T1.id
                                        )
                                        SELECT DISTINCT P1.ID, P1.NOMBRE, P1.DESCRIPCION, P1.ICONO, P1.ACTIVO, P1.IDPADRE, P1.IDVISTA_MVC, P1.ORDEN 
                                        FROM menuPadre AS P1
                                   )
                                
GO
/****** Object:  Table [ENTORNO].[VISTA_MVC]    Script Date: 23/05/2020 19:33:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ENTORNO].[VISTA_MVC](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[NOMBRE] [varchar](250) NOT NULL,
	[CONTROLADOR] [varchar](250) NOT NULL,
	[ACCION] [varchar](250) NOT NULL,
	[PARAMETROS] [varchar](250) NULL,
 CONSTRAINT [PK_VISTA_MVC] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [ENTORNO].[MENU_SE]    Script Date: 23/05/2020 19:33:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

                                    CREATE VIEW [ENTORNO].[MENU_SE]
                                    AS
                                         SELECT T1.ID, 
                                                T1.NOMBRE, 
                                                T1.DESCRIPCION, 
                                                T1.ICONO, 
                                                T1.ACTIVO, 
                                                T1.IDPADRE, 
                                                T1.IDVISTA_MVC, 
                                                T1.ORDEN, 
                                                T2.NOMBRE AS PADRE, 
                                                T3.NOMBRE AS VISTA, 
                                                T3.CONTROLADOR, 
                                                T3.ACCION, 
                                                T3.PARAMETROS
                                         FROM ENTORNO.ARBOL_MENU(0) AS T1
                                              LEFT JOIN ENTORNO.MENU T2 ON T2.ID = T1.IDPADRE
                                              LEFT JOIN ENTORNO.VISTA_MVC T3 ON T3.ID = T1.IDVISTA_MVC
                                
GO
/****** Object:  Table [SEGURIDAD].[ROL_PERMISO]    Script Date: 23/05/2020 19:33:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [SEGURIDAD].[ROL_PERMISO](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[IDROL] [int] NOT NULL,
	[IDPERMISO] [int] NOT NULL,
 CONSTRAINT [PK_ROL_PERMISO] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [AK_ROL_PERMISO] UNIQUE NONCLUSTERED 
(
	[IDROL] ASC,
	[IDPERMISO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [SEGURIDAD].[ROL_PUESTO]    Script Date: 23/05/2020 19:33:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [SEGURIDAD].[ROL_PUESTO](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[IDROL] [int] NOT NULL,
	[IDPUESTO] [int] NOT NULL,
 CONSTRAINT [PK_ROL_PUESTO] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [AK_ROL_PUESTO] UNIQUE NONCLUSTERED 
(
	[IDROL] ASC,
	[IDPUESTO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [SEGURIDAD].[USU_PUESTO]    Script Date: 23/05/2020 19:33:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [SEGURIDAD].[USU_PUESTO](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[IDUSUA] [int] NOT NULL,
	[IDPUESTO] [int] NOT NULL,
 CONSTRAINT [PK_USU_PUESTO] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [ENTORNO].[USU_PERMISO]    Script Date: 23/05/2020 19:33:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 CREATE VIEW [ENTORNO].[USU_PERMISO]
                                    AS
                                    select ROW_NUMBER() OVER(ORDER BY t2.IDUSUA ASC) AS ID, t2.IDUSUA as IDUSUA, t4.IDPERMISO as IDPERMISO
                                    from SEGURIDAD.USU_PUESTO t2
                                    inner
                                    join SEGURIDAD.ROL_PUESTO T3 ON T3.IDPUESTO = T2.IDPUESTO
                                    INNER JOIN SEGURIDAD.ROL_PERMISO T4 ON T4.IDROL = T3.IDROL
                                    group by IDUSUA, IDPERMISO
GO
/****** Object:  Table [ENTORNO].[USUARIO]    Script Date: 23/05/2020 19:33:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ENTORNO].[USUARIO](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[LOGIN] [varchar](50) NOT NULL,
	[APELLIDO] [varchar](250) NOT NULL,
	[NOMBRE] [varchar](50) NOT NULL,
	[F_ALTA] [date] NOT NULL,
	[IDARCHIVO] [int] NULL,
 CONSTRAINT [PK_USUARIO] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [SEGURIDAD].[V_USUARIO]    Script Date: 23/05/2020 19:33:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create view [SEGURIDAD].[V_USUARIO] as
                                    select
                                       ID,
                                       LOGIN,
                                       APELLIDO,
                                       NOMBRE
                                    from
                                       ENTORNO.USUARIO
GO
/****** Object:  Table [ENTORNO].[VARIABLE]    Script Date: 23/05/2020 19:33:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ENTORNO].[VARIABLE](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[NOMBRE] [varchar](50) NOT NULL,
	[DESCRIPCION] [varchar](max) NULL,
	[VALOR] [varchar](250) NOT NULL,
 CONSTRAINT [PK_VARIABLE] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [SEGURIDAD].[CLASE_PERMISO]    Script Date: 23/05/2020 19:33:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [SEGURIDAD].[CLASE_PERMISO](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[NOMBRE] [varchar](30) NOT NULL,
 CONSTRAINT [PK_CLASE_PERMISO] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [SEGURIDAD].[PERMISO]    Script Date: 23/05/2020 19:33:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [SEGURIDAD].[PERMISO](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[NOMBRE] [varchar](250) NOT NULL,
	[IDCLASE] [int] NOT NULL,
	[IDTIPO] [int] NOT NULL,
 CONSTRAINT [PK_PERMISO] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [SEGURIDAD].[PUESTO]    Script Date: 23/05/2020 19:33:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [SEGURIDAD].[PUESTO](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[NOMBRE] [varchar](250) NOT NULL,
	[DESCRIPCION] [varchar](max) NULL,
 CONSTRAINT [PK_PUESTO] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [SEGURIDAD].[ROL]    Script Date: 23/05/2020 19:33:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [SEGURIDAD].[ROL](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[NOMBRE] [varchar](250) NOT NULL,
	[DESCRIPCION] [varchar](max) NULL,
 CONSTRAINT [PK_ROL] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [SEGURIDAD].[TIPO_PERMISO]    Script Date: 23/05/2020 19:33:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [SEGURIDAD].[TIPO_PERMISO](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[NOMBRE] [varchar](30) NOT NULL,
 CONSTRAINT [PK_TIPO_PERMISO] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [ENTORNO].[MENU] ADD  DEFAULT ((0)) FOR [ORDEN]
GO
ALTER TABLE [SEGURIDAD].[PERMISO] ADD  DEFAULT ((0)) FOR [IDCLASE]
GO
ALTER TABLE [SEGURIDAD].[PERMISO] ADD  DEFAULT ((0)) FOR [IDTIPO]
GO
ALTER TABLE [ENTORNO].[MENU]  WITH CHECK ADD  CONSTRAINT [FK_MENU_IDPADRE] FOREIGN KEY([IDPADRE])
REFERENCES [ENTORNO].[MENU] ([ID])
GO
ALTER TABLE [ENTORNO].[MENU] CHECK CONSTRAINT [FK_MENU_IDPADRE]
GO
ALTER TABLE [ENTORNO].[MENU]  WITH CHECK ADD  CONSTRAINT [FK_MENU_IDVISTA_MVC] FOREIGN KEY([IDVISTA_MVC])
REFERENCES [ENTORNO].[VISTA_MVC] ([ID])
GO
ALTER TABLE [ENTORNO].[MENU] CHECK CONSTRAINT [FK_MENU_IDVISTA_MVC]
GO
ALTER TABLE [ENTORNO].[USUARIO]  WITH CHECK ADD  CONSTRAINT [FK_USUARIO_IDARCHIVO] FOREIGN KEY([IDARCHIVO])
REFERENCES [SISDOC].[ARCHIVO] ([ID])
GO
ALTER TABLE [ENTORNO].[USUARIO] CHECK CONSTRAINT [FK_USUARIO_IDARCHIVO]
GO
ALTER TABLE [SEGURIDAD].[PERMISO]  WITH CHECK ADD  CONSTRAINT [FK_PERMISO_IDCLASE] FOREIGN KEY([IDCLASE])
REFERENCES [SEGURIDAD].[CLASE_PERMISO] ([ID])
GO
ALTER TABLE [SEGURIDAD].[PERMISO] CHECK CONSTRAINT [FK_PERMISO_IDCLASE]
GO
ALTER TABLE [SEGURIDAD].[PERMISO]  WITH CHECK ADD  CONSTRAINT [FK_PERMISO_IDTIPO] FOREIGN KEY([IDTIPO])
REFERENCES [SEGURIDAD].[TIPO_PERMISO] ([ID])
GO
ALTER TABLE [SEGURIDAD].[PERMISO] CHECK CONSTRAINT [FK_PERMISO_IDTIPO]
GO
ALTER TABLE [SEGURIDAD].[ROL_PERMISO]  WITH CHECK ADD  CONSTRAINT [FK_ROL_PERMISO_IDPERMISO] FOREIGN KEY([IDPERMISO])
REFERENCES [SEGURIDAD].[PERMISO] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [SEGURIDAD].[ROL_PERMISO] CHECK CONSTRAINT [FK_ROL_PERMISO_IDPERMISO]
GO
ALTER TABLE [SEGURIDAD].[ROL_PERMISO]  WITH CHECK ADD  CONSTRAINT [FK_ROL_PERMISO_IDROL] FOREIGN KEY([IDROL])
REFERENCES [SEGURIDAD].[ROL] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [SEGURIDAD].[ROL_PERMISO] CHECK CONSTRAINT [FK_ROL_PERMISO_IDROL]
GO
ALTER TABLE [SEGURIDAD].[ROL_PUESTO]  WITH CHECK ADD  CONSTRAINT [FK_ROL_PUESTO_IDPUESTO] FOREIGN KEY([IDPUESTO])
REFERENCES [SEGURIDAD].[PUESTO] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [SEGURIDAD].[ROL_PUESTO] CHECK CONSTRAINT [FK_ROL_PUESTO_IDPUESTO]
GO
ALTER TABLE [SEGURIDAD].[ROL_PUESTO]  WITH CHECK ADD  CONSTRAINT [FK_ROL_PUESTO_IDROL] FOREIGN KEY([IDROL])
REFERENCES [SEGURIDAD].[ROL] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [SEGURIDAD].[ROL_PUESTO] CHECK CONSTRAINT [FK_ROL_PUESTO_IDROL]
GO
ALTER TABLE [SEGURIDAD].[USU_PUESTO]  WITH CHECK ADD  CONSTRAINT [FK_USU_PUESTO_IDPUESTO] FOREIGN KEY([IDPUESTO])
REFERENCES [SEGURIDAD].[PUESTO] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [SEGURIDAD].[USU_PUESTO] CHECK CONSTRAINT [FK_USU_PUESTO_IDPUESTO]
GO
ALTER TABLE [SEGURIDAD].[USU_PUESTO]  WITH CHECK ADD  CONSTRAINT [FK_USU_PUESTO_IDUSUA] FOREIGN KEY([IDUSUA])
REFERENCES [ENTORNO].[USUARIO] ([ID])
GO
ALTER TABLE [SEGURIDAD].[USU_PUESTO] CHECK CONSTRAINT [FK_USU_PUESTO_IDUSUA]
GO
