@model GestorUniversitario.ModeloDeClases.Estudiante

@{
    ViewData["Title"] = $"{@ViewBag.Crud.Titulo}";
}

<h2>@ViewBag.Crud.GestorDeEdicion.Titulo</h2>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action=@ViewBag.Crud.GestorDeEdicion.Accion>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Apellido" class="control-label"></label>
                <input asp-for="Apellido" class="form-control" />
                <span asp-validation-for="Apellido" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Nombre" class="control-label"></label>
                <input asp-for="Nombre" class="form-control" />
                <span asp-validation-for="Nombre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="InscritoEl" class="control-label"></label>
                <input asp-for="InscritoEl" class="form-control" />
                <span asp-validation-for="InscritoEl" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value=@ViewBag.Crud.GestorDeEdicion.Formulario class="btn btn-outline-success" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action=@ViewBag.Crud.GestorDeMantenimiento.Ir>@ViewBag.Crud.GestorDeMantenimiento.Titulo</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
